
<!DOCTYPE html>

<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if gt IE 9]><!--><html><!--<![endif]-->
<head>
  <title>选座 - 猫眼电影 - 一网打尽好电影</title>

  <link rel="dns-prefetch" href="//p0.meituan.net"  />
  <link rel="dns-prefetch" href="//p1.meituan.net"  />
  <link rel="dns-prefetch" href="//ms0.meituan.net" />
  <link rel="dns-prefetch" href="//s0.meituan.net" />
  <link rel="dns-prefetch" href="//ms1.meituan.net" />
  <link rel="dns-prefetch" href="//analytics.meituan.com" />
  <link rel="dns-prefetch" href="//report.meituan.com" />
  <link rel="dns-prefetch" href="//frep.meituan.com" />


  <meta charset="utf-8">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta http-equiv="cleartype" content="yes" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="renderer" content="webkit" />

  <meta name="HandheldFriendly" content="true" />
  <meta name="format-detection" content="email=no" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <script>"use strict";!function(){var i=0<arguments.length&&void 0!==arguments[0]?arguments[0]:"_Owl_",n=window;n[i]||(n[i]={isRunning:!1,isReady:!1,preTasks:[],dataSet:[],use:function(i,t){this.isReady&&n.Owl&&n.Owl[i](t),this.preTasks.push({api:i,data:[t]})},add:function(i){this.dataSet.push(i)},run:function(){var t=this;if(!this.isRunning){this.isRunning=!0;var i=n.onerror;n.onerror=function(){this.isReady||this.add({type:"jsError",data:arguments}),i&&i.apply(n,arguments)}.bind(this),(n.addEventListener||n.attachEvent)("error",function(i){t.isReady||t.add({type:"resError",data:[i]})},!0)}}},n[i].run())}();</script>
  <script>
  cid = "c_2yzd0xp5";
  ci = 20;
    window.system = {"seatsPrice":{"1":{"expression":"43X1","price":"43"},"2":{"expression":"43X2","price":"86"},"3":{"expression":"43X3","price":"129"},"4":{"expression":"43X4","price":"172"},"5":{"expression":"43X5","price":"215"},"6":{"expression":"43X6","price":"258"}},"remind":"","uuid":"64845F70327511E980CA117742822CC16091072C61D64155A33F7C1149D63008","cinemaId":2161};

  window.openPlatform = '';
  window.openPlatformSub = '';
  window.$mtsiFlag = '0';

  </script>
  <link rel="stylesheet" href="ef9ce11a.css"/>
<link rel="stylesheet" href="b8adee6e.css"/>
  <script crossorigin="anonymous" src="88d57c80.js"></script>
  <script>if(window.devicePixelRatio >= 2) { document.write('<link rel="stylesheet" href="//s0.meituan.net/bs/?f=myfe/mywww:/image-2x.8ba7074d.css"/>') }</script>
  <style>
    @font-face {
      font-family: stonefont;
      src: url('//vfile.meituan.net/colorstone/284eef8c9cb74aa9257d130ce67b7fa03168.eot');
      src: url('//vfile.meituan.net/colorstone/284eef8c9cb74aa9257d130ce67b7fa03168.eot?#iefix') format('embedded-opentype'),
           url('//vfile.meituan.net/colorstone/5cea12bbd43ea93918852ea5f91a308e2080.woff') format('woff');
    }

    .stonefont {
      font-family: stonefont;
    }
  </style>
</head>
<body>


<div class="header">
  <div class="header-inner">
        <a href="/" class="logo" data-act="icon-click"></a>
        <div class="city-container" data-val="{currentcityid:20 }">
            <div class="city-selected">
                <div class="city-name">
                  广州
                  <span class="caret"></span>
                </div>
            </div>
            <div class="city-list" data-val="{ localcityid: 20 }">
                <div class="city-list-header">定位城市：<a class="js-geo-city">广州</a></div>

            </div>
        </div>


        <div class="nav">
            <ul class="navbar">
                <li><a href="/" data-act="home-click"  >首页</a></li>
                <li><a href="/films" data-act="movies-click" >电影</a></li>
                <li><a href="/cinemas" data-act="cinemas-click" >影院</a></li>

                <li><a href="/board" data-act="board-click" >榜单</a></li>
                <li><a href="/news" data-act="hotNews-click" >热点</a></li>
                <li><a href="/edimall"  >商城</a></li>
            </ul>
        </div>

        <div class="user-info">
            <div class="user-avatar J-login">
              <img src="https://p0.meituan.net/movie/7dd82a16316ab32c8359debdb04396ef2897.png">
              <span class="caret"></span>
              <ul class="user-menu">
                <li><a href="javascript:void 0">登录</a></li>
              </ul>
            </div>
        </div>

        <form action="/query" target="_blank" class="search-form" data-actform="search-click">
            <input name="kw" class="search" type="search" maxlength="32" placeholder="找影视剧、影人、影院" autocomplete="off">
            <input class="submit" type="submit" value="">
        </form>

        <div class="app-download">
          <a href="/app" target="_blank">
            <span class="iphone-icon"></span>
            <span class="apptext">APP下载</span>
            <span class="caret"></span>
            <div class="download-icon">
                <p class="down-title">扫码下载APP</p>
                <p class='down-content'>选座更优惠</p>
            </div>
          </a>
        </div>

  </div>
</div>
<div class="header-placeholder"></div>


    <div class="container" id="app" class="page-cinemas/seat" >
  <div class="order-progress-bar">
  <div class="step first done">
    <span class="step-num">1</span>
    <div class="bar"></div>
    <span class="step-text">选择影片场次</span>
  </div>
  <div class="step done">
    <span class="step-num">2</span>
    <div class="bar"></div>
    <span class="step-text">选择座位</span>
  </div>
  <div class="step ">
    <span class="step-num">3</span>
    <div class="bar"></div>
    <span class="step-text">14分钟内付款</span>
  </div>
  <div class="step last ">
    <span class="step-num">4</span>
    <div class="bar"></div>
    <span class="step-text">影院取票观影</span>
  </div>
</div>


    <div class="main clearfix">
      <div class="hall">
        <div class="seat-example">
          <div class="selectable-example example">
            <span>可选座位</span>
          </div>
          <div class="sold-example example">
            <span>已售座位</span>
          </div>
          <div class="selected-example example">
            <span>已选座位</span>
          </div>
          <div class="couple-example example">
            <span>情侣座位</span>
          </div>
        </div>


<div class="seats-block" data-cols="14" data-section-id="0000000000000001" data-section-name="普通区" data-seq-no="201902180003593">
  <div class="row-id-container">
        <span class="row-id">1</span>
        <span class="row-id">2</span>
        <span class="row-id">3</span>
        <span class="row-id">4</span>
        <span class="row-id">5</span>
        <span class="row-id">6</span>
        <span class="row-id">7</span>
        <span class="row-id">8</span>
  </div>

  <div class="seats-container">
    <div class="screen-container">
      <div class="screen">银幕中央</div>
      <div class="c-screen-line"></div>
    </div>

    <div class="seats-wrapper">
        <div class="row">
            <span class="seat selectable"
              data-column-id="12"
              data-row-id="1"
              data-no="0000000000000001-1-12"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="11"
              data-row-id="1"
              data-no="0000000000000001-1-11"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="10"
              data-row-id="1"
              data-no="0000000000000001-1-10"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="09"
              data-row-id="1"
              data-no="0000000000000001-1-09"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="08"
              data-row-id="1"
              data-no="0000000000000001-1-08"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="07"
              data-row-id="1"
              data-no="0000000000000001-1-07"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="06"
              data-row-id="1"
              data-no="0000000000000001-1-06"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="05"
              data-row-id="1"
              data-no="0000000000000001-1-05"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="04"
              data-row-id="1"
              data-no="0000000000000001-1-04"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="03"
              data-row-id="1"
              data-no="0000000000000001-1-03"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="02"
              data-row-id="1"
              data-no="0000000000000001-1-02"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="01"
              data-row-id="1"
              data-no="0000000000000001-1-01"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat empty"
              data-column-id=""
              data-row-id="1"
              data-no=""
              data-st="E"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat empty"
              data-column-id=""
              data-row-id="1"
              data-no=""
              data-st="E"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
        </div>
        <div class="row">
            <span class="seat selectable"
              data-column-id="12"
              data-row-id="2"
              data-no="0000000000000001-2-12"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="11"
              data-row-id="2"
              data-no="0000000000000001-2-11"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="10"
              data-row-id="2"
              data-no="0000000000000001-2-10"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="09"
              data-row-id="2"
              data-no="0000000000000001-2-09"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="08"
              data-row-id="2"
              data-no="0000000000000001-2-08"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="07"
              data-row-id="2"
              data-no="0000000000000001-2-07"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="06"
              data-row-id="2"
              data-no="0000000000000001-2-06"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="05"
              data-row-id="2"
              data-no="0000000000000001-2-05"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="04"
              data-row-id="2"
              data-no="0000000000000001-2-04"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="03"
              data-row-id="2"
              data-no="0000000000000001-2-03"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="02"
              data-row-id="2"
              data-no="0000000000000001-2-02"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="01"
              data-row-id="2"
              data-no="0000000000000001-2-01"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat empty"
              data-column-id=""
              data-row-id="2"
              data-no=""
              data-st="E"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat empty"
              data-column-id=""
              data-row-id="2"
              data-no=""
              data-st="E"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
        </div>
        <div class="row">
            <span class="seat selectable"
              data-column-id="12"
              data-row-id="3"
              data-no="0000000000000001-3-12"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="11"
              data-row-id="3"
              data-no="0000000000000001-3-11"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="10"
              data-row-id="3"
              data-no="0000000000000001-3-10"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="09"
              data-row-id="3"
              data-no="0000000000000001-3-09"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="08"
              data-row-id="3"
              data-no="0000000000000001-3-08"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="07"
              data-row-id="3"
              data-no="0000000000000001-3-07"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="06"
              data-row-id="3"
              data-no="0000000000000001-3-06"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="05"
              data-row-id="3"
              data-no="0000000000000001-3-05"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="04"
              data-row-id="3"
              data-no="0000000000000001-3-04"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="03"
              data-row-id="3"
              data-no="0000000000000001-3-03"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="02"
              data-row-id="3"
              data-no="0000000000000001-3-02"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="01"
              data-row-id="3"
              data-no="0000000000000001-3-01"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat empty"
              data-column-id=""
              data-row-id="3"
              data-no=""
              data-st="E"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat empty"
              data-column-id=""
              data-row-id="3"
              data-no=""
              data-st="E"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
        </div>
        <div class="row">
            <span class="seat selectable"
              data-column-id="10"
              data-row-id="4"
              data-no="0000000000000001-4-10"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="09"
              data-row-id="4"
              data-no="0000000000000001-4-09"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="08"
              data-row-id="4"
              data-no="0000000000000001-4-08"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="07"
              data-row-id="4"
              data-no="0000000000000001-4-07"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="06"
              data-row-id="4"
              data-no="0000000000000001-4-06"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="05"
              data-row-id="4"
              data-no="0000000000000001-4-05"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="04"
              data-row-id="4"
              data-no="0000000000000001-4-04"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="03"
              data-row-id="4"
              data-no="0000000000000001-4-03"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="02"
              data-row-id="4"
              data-no="0000000000000001-4-02"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="01"
              data-row-id="4"
              data-no="0000000000000001-4-01"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat empty"
              data-column-id=""
              data-row-id="4"
              data-no=""
              data-st="E"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat empty"
              data-column-id=""
              data-row-id="4"
              data-no=""
              data-st="E"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat empty"
              data-column-id=""
              data-row-id="4"
              data-no=""
              data-st="E"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat empty"
              data-column-id=""
              data-row-id="4"
              data-no=""
              data-st="E"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
        </div>
        <div class="row">
            <span class="seat selectable"
              data-column-id="10"
              data-row-id="5"
              data-no="0000000000000001-5-10"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="09"
              data-row-id="5"
              data-no="0000000000000001-5-09"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="08"
              data-row-id="5"
              data-no="0000000000000001-5-08"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="07"
              data-row-id="5"
              data-no="0000000000000001-5-07"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="06"
              data-row-id="5"
              data-no="0000000000000001-5-06"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="05"
              data-row-id="5"
              data-no="0000000000000001-5-05"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="04"
              data-row-id="5"
              data-no="0000000000000001-5-04"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="03"
              data-row-id="5"
              data-no="0000000000000001-5-03"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="02"
              data-row-id="5"
              data-no="0000000000000001-5-02"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="01"
              data-row-id="5"
              data-no="0000000000000001-5-01"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat empty"
              data-column-id=""
              data-row-id="5"
              data-no=""
              data-st="E"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat empty"
              data-column-id=""
              data-row-id="5"
              data-no=""
              data-st="E"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat empty"
              data-column-id=""
              data-row-id="5"
              data-no=""
              data-st="E"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat empty"
              data-column-id=""
              data-row-id="5"
              data-no=""
              data-st="E"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
        </div>
        <div class="row">
            <span class="seat selectable"
              data-column-id="10"
              data-row-id="6"
              data-no="0000000000000001-6-10"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="09"
              data-row-id="6"
              data-no="0000000000000001-6-09"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="08"
              data-row-id="6"
              data-no="0000000000000001-6-08"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="07"
              data-row-id="6"
              data-no="0000000000000001-6-07"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="06"
              data-row-id="6"
              data-no="0000000000000001-6-06"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="05"
              data-row-id="6"
              data-no="0000000000000001-6-05"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="04"
              data-row-id="6"
              data-no="0000000000000001-6-04"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="03"
              data-row-id="6"
              data-no="0000000000000001-6-03"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="02"
              data-row-id="6"
              data-no="0000000000000001-6-02"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="01"
              data-row-id="6"
              data-no="0000000000000001-6-01"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat empty"
              data-column-id=""
              data-row-id="6"
              data-no=""
              data-st="E"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat empty"
              data-column-id=""
              data-row-id="6"
              data-no=""
              data-st="E"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat empty"
              data-column-id=""
              data-row-id="6"
              data-no=""
              data-st="E"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat empty"
              data-column-id=""
              data-row-id="6"
              data-no=""
              data-st="E"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
        </div>
        <div class="row">
            <span class="seat selectable"
              data-column-id="10"
              data-row-id="7"
              data-no="0000000000000001-7-10"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="09"
              data-row-id="7"
              data-no="0000000000000001-7-09"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="08"
              data-row-id="7"
              data-no="0000000000000001-7-08"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="07"
              data-row-id="7"
              data-no="0000000000000001-7-07"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="06"
              data-row-id="7"
              data-no="0000000000000001-7-06"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="05"
              data-row-id="7"
              data-no="0000000000000001-7-05"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="04"
              data-row-id="7"
              data-no="0000000000000001-7-04"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="03"
              data-row-id="7"
              data-no="0000000000000001-7-03"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="02"
              data-row-id="7"
              data-no="0000000000000001-7-02"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="01"
              data-row-id="7"
              data-no="0000000000000001-7-01"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat empty"
              data-column-id=""
              data-row-id="7"
              data-no=""
              data-st="E"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat empty"
              data-column-id=""
              data-row-id="7"
              data-no=""
              data-st="E"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat empty"
              data-column-id=""
              data-row-id="7"
              data-no=""
              data-st="E"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat empty"
              data-column-id=""
              data-row-id="7"
              data-no=""
              data-st="E"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
        </div>
        <div class="row">
            <span class="seat selectable"
              data-column-id="08"
              data-row-id="8"
              data-no="0000000000000001-8-08"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="07"
              data-row-id="8"
              data-no="0000000000000001-8-07"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="06"
              data-row-id="8"
              data-no="0000000000000001-8-06"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="05"
              data-row-id="8"
              data-no="0000000000000001-8-05"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat empty"
              data-column-id=""
              data-row-id="8"
              data-no=""
              data-st="E"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat empty"
              data-column-id=""
              data-row-id="8"
              data-no=""
              data-st="E"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat empty"
              data-column-id=""
              data-row-id="8"
              data-no=""
              data-st="E"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat empty"
              data-column-id=""
              data-row-id="8"
              data-no=""
              data-st="E"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat empty"
              data-column-id=""
              data-row-id="8"
              data-no=""
              data-st="E"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat empty"
              data-column-id=""
              data-row-id="8"
              data-no=""
              data-st="E"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="04"
              data-row-id="8"
              data-no="0000000000000001-8-04"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="03"
              data-row-id="8"
              data-no="0000000000000001-8-03"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="02"
              data-row-id="8"
              data-no="0000000000000001-8-02"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
            <span class="seat selectable"
              data-column-id="01"
              data-row-id="8"
              data-no="0000000000000001-8-01"
              data-st="N"
              data-act="seat-click"
              data-bid="b_s7eiiijf"
            ></span>
        </div>
    </div>
  </div>

</div>

      </div>

      <div class="side">
        <div class="movie-info clearfix">
          <div class="poster">
            <img src="https://p1.meituan.net/movie/616cd50a33550a9225ac781e52d14ae54967551.jpg@115w_158h_1e_1c">
          </div>
          <div class="content">
            <p class="name text-ellipsis">流浪地球</p>
            <div class="info-item">
              <span>类型 :</span>
              <span class="value">剧情,冒险,科幻</span>
            </div>
            <div class="info-item">
              <span>时长 :</span>
              <span class="value">128分钟</span>
            </div>
          </div>
        </div>

        <div class="show-info">
          <div class="info-item">
            <span>影院 :</span>
            <span class="value text-ellipsis">烽禾影城(祈福新邨店)</span>
          </div>
          <div class="info-item">
            <span>影厅 :</span>
            <span class="value text-ellipsis">2号厅</span>
          </div>
          <div class="info-item">
            <span>版本 :</span>
            <span class="value text-ellipsis">国语3D</span>
          </div>
          <div class="info-item">
            <span>场次 :</span>
            <span class="value text-ellipsis screen">今天 2月18 21:00</span>
          </div>
          <div class="info-item">
            <span>票价 :</span>
            <span class="value text-ellipsis">￥43/张</span>
          </div>
        </div>

        <div class="ticket-info">
          <div class="no-ticket">
            <p class="buy-limit">座位：一次最多选6个座位</p>
            <p class="no-selected">请<span>点击左侧</span>座位图选择座位</p>
          </div>
          <div class="has-ticket" style="display:none">
            <span class="text">座位：</span>
            <div class="ticket-container" data-limit="6"></div>
          </div>

          <div class="total-price">
            <span>总价 :</span>
            <span class="price">0</span>
          </div>
        </div>

        <div class="confirm-order">
            <div id="iLoginComp"></div>

        </div>
      </div>
    </div>
      <div class="modal-container" style="display:none">
    <div class="modal">
      <span class="icon"></span>

      <p class="tip"></p>

        <div class="ok-btn btn">我知道了</div>
    </div>
  </div>

  <script src="https://s0.meituan.net/bs/mt-login-component/v1.0.12/index.min.js"></script>
    </div>

<div class="footer">
    <p class="friendly-links">
        关于猫眼 :
        <a href="http://ir.maoyan.com/s/index.php#pageScroll0" target="_blank">关于我们</a>
        <span></span>
        <a href="http://ir.maoyan.com/s/index.php#pageScroll1" target="_blank">管理团队</a>
        <span></span>
        <a href="http://ir.maoyan.com/s/index.php#pageScroll2" target="_blank">投资者关系</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        友情链接 :
        <a href="http://www.meituan.com" data-query="utm_source=wwwmaoyan" target="_blank">美团网</a>
        <span></span>
        <a href="http://i.meituan.com/client" data-query="utm_source=wwwmaoyan" target="_blank">美团下载</a>
        <span></span>
        <a href="https://www.huanxi.com" data-query="utm_source=maoyan_pc" target="_blank">欢喜首映</a>
    </p>
    <p class="friendly-links">
      商务合作邮箱：v@maoyan.com
      客服电话：10105335
      违法和不良信息举报电话：4006018900
      <br/>
      投诉举报邮箱：tousujubao@meituan.com
      舞弊线索举报邮箱：wubijubao@maoyan.com
    </p>
    <p>
        &copy;2016
        猫眼电影 maoyan.com
        <a href="https://tsm.miit.gov.cn/pages/EnterpriseSearchList_Portal.aspx?type=0&keyword=京ICP证160733号&pageNo=1" target="_blank">京ICP证160733号</a>
        <a href="http://www.miibeian.gov.cn" target="_blank">京ICP备16022489号-1</a>
        <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010102003232" target="_blank">京公网安备 11010102003232号</a>
        <a href="/about/licence" target="_blank">网络文化经营许可证</a>
        <a href="http://www.meituan.com/about/rules" target="_blank">电子公告服务规则</a>
    </p>
    <p>北京猫眼文化传媒有限公司</p>
</div>

    <script crossorigin="anonymous" src="//www.dpfile.com/app/owl/static/owl_1.7.11.js"></script>
    <script>
      Owl.start({
        project: 'com.sankuai.movie.fe.mywww',
        pageUrl: location.href.split('?')[0].replace(/\/\d+/g, '/:id'),
        devMode: false
      })
      // 单独自定义上报下img加载错误
      window.addEventListener('error', function(e) {
        var node = e.target || e.srcElement
        try {
          var msg = node.src || node.href
          var nodeName = node.nodeName
          if (nodeName && nodeName.toLowerCase() === 'img') {
            Owl.addError(msg, {level: 'warn', category: 'resourceError'})
          }
        } catch(err) {
          console.error(err)
        }
      }, true)
    </script>
    <!--[if IE 8]><script crossorigin="anonymous" src="//s0.meituan.net/bs/?f=myfe/mywww:/es5-shim.bbad933f.js"></script><![endif]-->
    <!--[if IE 8]><script crossorigin="anonymous" src="//s0.meituan.net/bs/?f=myfe/mywww:/es5-sham.d6ea26f4.js"></script><![endif]-->
    <script crossorigin="anonymous" src="//s0.meituan.net/bs/?f=myfe/mywww:/common.98f4f69f.js"></script>
<script crossorigin="anonymous" src="//s0.meituan.net/bs/?f=myfe/mywww:/cinemas-seat.e3066af8.js"></script>
</body>
</html>
